*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root{
    --almost-white: #FFFDFA;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15051;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}
body{
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}

body.menu-open::before{
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
}

.HeaderMobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.HeaderMobile button{
    border: none;
    background: none;
    width: fit-content;
}

.HeaderMobile nav button{
    align-self: flex-end;
    margin-bottom: 4rem;
}

.HeaderMobile nav{
    position: fixed;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.HeaderMobile nav a{
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.PrimeiraSessao{
    margin-bottom: 4rem;
}

.PrimeiraSessao img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.PrimeiraSessao h1{
    color: var(--dark-blue);
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 100%;
    margin-bottom: 1rem;
}

.PrimeiraSessao p{
    color: var(--gunmetal);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

.PrimeiraSessao button{
    padding: 1rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.275rem;
    line-height: 0.5rem;
}

.SegundaSessao{
    background-color: var(--dark-blue);
    padding: 1.5rem 1.1rem;
    margin-bottom: 4rem;
}

.SegundaSessao h2{
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.SegundaSessao h3{
    color: var(--almost-white);
    font-size: 1.35rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.SegundaSessao p{
    color: var(--silver);
    font-size: 0.935rem;
    line-height: 1.625rem;
}

.SegundaSessao div{
    padding-bottom: 1.75rem;
}

.SegundaSessao div:nth-of-type(3){
    padding-bottom: 0px;
}

.SegundaSessao div + div{
    border-top: 1px solid var(--gunmetal);
    padding-top: 1.75rem;
}

.TerceiraSessao > div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.TerceiraSessao img{
    max-width: 6.25rem;
}

.TerceiraSessao strong{
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
    font-weight: 700;
}

.TerceiraSessao h2{
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}

.TerceiraSessao p{
    color: var(--gunmetal);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}